:root {
    --color-principal: #4169e1; 
    --principal-claro: #5a8feb; 
    --principal-oscuro: #2e4c8f; 
    --principal-fondo: #D0E6FC  ;
    --color-secundario: #ff6347; 
    --secundario-claro: #ff8269; 
    --secundario-oscuro: #c43d2f; 
    --color-acentuado: #f39c12; 
    --background-color: #f4f6f9; 
    --web-background-color: #ffffff; 
    --text-color: #2c3e50; 
    --link-color: #3498db; 
    --border-color: #e0e0e0; 
    --button-bg: var(--color-principal); 
    --button-text-color: #ffffff; 
    --button-hover-bg: var(--principal-oscuro); 
}


.encuesta{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    padding: 20px;
}

.encuesta h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.encuesta span{
    display: flex;
    align-items: center;
}

.votos{
    background-color: blue;
    height: 1em;
    width: 10px;
    margin-bottom: 10px;
    margin-left: 0;
}

.encuesta label{
    width: 45%;
}

.encuesta input{
    margin-left: 0;
}

.primera{
    width: 90%;
    background-color: var(--principal-claro);
}

.otra{
    width: 30%;
    background-color: var(--principal-oscuro);
}

.btn-encuesta{
    border: none;
    background-color: var(--color-principal);
    padding: 5px;
    width: 15%;
    align-self: center;
    color: var(--button-text-color);
}

.btn-encuesta:hover{
    background-color: var(--principal-oscuro);
    cursor: pointer;
}

.formEncuestas{
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-around;
}

.encuestaNueva {
    background-color: var(--web-background-color);
    border: 1px solid var(--border-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloEncuesta {
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
}

.tituloEncuesta select{
    border-radius: 0;
    border: 1px solid var(--border-color);
    position: relative;
    margin-top: 0px;
    text-align: center;
}

.tituloEncuesta textarea{
    resize: none;
    width: 86%;
    border: none;
    height: 3.8em;
}

.opciones{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 10px;
}

.opciones input{
    border: none;
    background-color: var(--background-color);
    padding: 5px;
}

.encuestaNueva #crear{
    border-radius: 0;
    border: var(--border-color);
    background-color: var(--button-bg);
    padding: 5px 8px;
    color: var(--button-text-color);
}

.encuestaNueva #crear:hover{
    background-color: var(--button-hover-bg);
    cursor: pointer;
}
