:root {
    --color-principal: #4169e1; 
    --principal-claro: #5a8feb; 
    --principal-oscuro: #2e4c8f; 
    --principal-fondo: #D0E6FC  ;
    --color-secundario: #ff6347; 
    --secundario-claro: #ff8269; 
    --secundario-oscuro: #c43d2f; 
    --color-acentuado: #f39c12; 
    --background-color: #f4f6f9; 
    --web-background-color: #ffffff; 
    --text-color: #2c3e50; 
    --link-color: #3498db; 
    --border-color: #e0e0e0; 
    --button-bg: var(--color-principal); 
    --button-text-color: #ffffff; 
    --button-hover-bg: var(--principal-oscuro); 
}

@font-face {
    font-family: 'Quicksand';
    src: url('../resources/fonts/Quicksand-VariableFont_wght.ttf');
}

*{
    font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
}

body{
    background-color: var(--web-background-color);
    margin: 0;
    padding: 0;
}


.activo{
    color: var(--color-principal);
    text-decoration: underline;
    font-weight: 700;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
}

header span{
    width: 25%;
}

header span:last-child{
    display: flex;
    justify-content: end;
}

header img{
    max-height: 24px;
}

header i{
    font-size: 24px;
}

header nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

header nav a{
    text-decoration: none;
   
}

header nav a:hover{
    font-weight: 600;
}

aside{
    width: 20%;
    background-color: var(--web-background-color);
    /* border: 1px solid white; */
}

aside.filtros{
    border-right: 1px solid var(--border-color);
    display: flex;
    justify-content: center;

}

main{
    margin: auto;
    background-color: var(--web-background-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-height: 800px;
    /* border: 1px solid white; */
}

.principal{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}

/* #formCrear{
    background-color: var(--background-color);
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    gap: 10px;
    display: none;
}

#formCrear *{
    background-color: var(--background-color);
    border: none;
} */

.cerrar{
    position: relative;
    transform: translate(-100%);
    left: 100%;
    height: 20px;
    width: 20px;
}

.principal form{
    width: 100%;
    padding-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.principal nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.principal nav button{
    border: none;
    background-color: var(--web-background-color);
}

.usuario{
   
    font-weight: 600;
}

.publicacion{
    background-color: var(--background-color) ;
    width: 80%;
    padding: 10px;
    margin: auto;
    border: 1px solid var(--border-color);

}

.postHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postHead span{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.category{
    color: var(--link-color);
    font-weight: 700;
    border-radius: 30px;
    padding: 5px 9px;
    font-size: 0.8em;
    font-style: italic;
    /* color: #E0E0E0; */
}

.contenido{
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 20px;

}

#comentario{
    height: 100px;
    vertical-align: top;
 
    resize: none;
}

.postBody{
    padding-left: 10px;
    margin-bottom: 0;
}

.postFooter{
    display: flex;
    justify-content: right;
    margin-top: 0;
    padding: 0;
}

.postFooter p{
    padding-top: 0;
    margin-right: 5px;
    margin-top: 0;
    font-size: 0.8em;
}


.tarjeta{
    max-width: 100%;
    border: 1px solid #2b2b2b;
    padding: 10px;
    border-radius: 15px;
}

.hTarjeta{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
    margin-bottom: 0;
}

.hTarjeta *{
    margin: 0;
}

.tarjeta .bio{
    margin-top: 0;
    font-size: 0.8em;
}

.add{
    position: fixed;
    bottom: 40px;
    right: 30%;
    padding: 10px 15px;
    border-radius: 100px;
    border: 0;
    color: #121212;
    font-weight: bold;
}



.btnDesplegable{
    width: 100%;
}

.desplegable{
    display: flex;
    margin: 10px 0;
    gap: 10px;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    height: 0;
}

.noVisible{
    display: none;
    
}

#formFiltros{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}

#busqueda{
    height: 2em;
    background-color: var(--background-color);
    border: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 15px;
    padding: 5px 15px;
    font-size: 15px;
}

#formFiltros button{
    background-color: var(--web-background-color);
    border: none;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: medium;
    font-weight: 600;
}

.filtroFecha{
    background-color: var(--web-background-color);
    border: none;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: medium;
    font-weight: 600;
}

.filtroFecha input{
    border: none;
    margin-right: -8px;
    font-size: medium;
    font-weight: 400;
    outline: none;
}

.filtroFecha :active{
    outline: none;
}

#formFiltros button:hover{
    background-color: var(--background-color);
}

#formFiltros button:active{
    background-color: var(--color-principal);
    color: var(--button-text-color);
}

aside.eventos{
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
}

.eventos h2{
    margin-bottom: 0;
    font-size: large;
}

.proxEventos{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.evento{
    display: flex;
    flex-direction: column;
    width: 97%;
    border-left: 4px solid var(--color-principal);
    padding-left: 10px;
    background-color: var(--principal-fondo);
}

.evento h3{
    font-size: medium;
    margin-bottom: 0;
}

.evento p{
    font-size: small;
}

.publicacionNueva{
    background-color: var(--web-background-color);
}

.publicacionNueva textarea{
    resize: none;
    height: 30px;
    border: none;
    width: 95%;
    background-color: var(--web-background-color);
    transition: all 0.3s ease-in-out;
    padding:10px 0 0 20px;
}

.publicacionNueva textarea:focus{
    outline: none;
}

.publicacionNueva .postHead{
    align-items:flex-start;
}

.publicacionNueva select{
    border-radius: 0;
    border: 1px solid var(--border-color);
    position: relative;
    margin-top: 10px;
    text-align: center;
}

.publicacionNueva .postFooter{
    justify-content: space-between;
    align-items: baseline;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.publicacionNueva #crear{
    border-radius: 0;
    border: var(--border-color);
    background-color: var(--button-bg);
    padding: 5px 8px;
    color: var(--button-text-color);
    margin-left: 20px;
}

.publicacionNueva #crear:hover{
    background-color: var(--button-hover-bg);
}



footer{
    background-color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

footer span{
    width: 30%;
    display: flex;
}

footer span p, footer span a{
    color: var(--button-text-color);
}

footer span:nth-child(2){
    justify-content: center;
}

footer span:last-child{
    justify-content: right;
    gap: 10px;
    font-size: smaller;
}

footer img{
    height: 38px;
}